<h1>Абстрактні класи. Модульне тестування. Інтерфейси</h1>

<ul class="menu">
  <li>
    <a
      routerLink="/example1"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Приклад 1</a
    >
  </li>
  <li>
    <a
      routerLink="/example2"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Приклад2</a
    >
  </li>
  <li>
    <a
      routerLink="/example3"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Приклад3</a
    >
  </li>
  <li>
    <a
      routerLink="/example4"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Приклад4</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
